.myAddress{
	margin-bottom: 3rem;
}

.address_list{
	margin-top: 2.7rem;
	.address_item{
		background-color: #fff;
		margin-bottom: 0.5rem;
		.address_detail{
			display: block;
			color: #333;
			padding:0 0.75rem 0 0.75rem;
			border-bottom: 0.025rem solid #ebebeb;
			.name_phone{
				padding-top: 1.0rem;
				margin-bottom: 0.675rem;
				.name{
					color:#333;
					font-size: 0.8rem;
				}
				.phone{
					color:#333;
					font-size: 0.7rem;
					float: right;
				}
			}
			.address_inform{
				font-size: 0.7rem;
				line-height: 0.85rem;
				margin-bottom: 0.675rem;
			}
		}
		.address_edit{
			padding: 0.4rem 0.75rem 0.4rem 0.75rem;
			.address_set{
				font-size: 0;
				span{
					display: inline-block;
					vertical-align: middle;
				}
				.address_icon{
					width: 1.05rem;
					height: 1.05rem;
					border-radius: 50%;
					background: url(../images/icon_sel@3x.png) no-repeat;
					background-size: 100% 100%;
					margin-right: 0.5rem;
				}
				.address_icon1{
					width: 1.05rem;
					height: 1.05rem;
					border-radius: 50%;
					background: url(../images/icon_nor@3x.png) no-repeat;
					background-size: 100% 100%;
					margin-right: 0.5rem;
				}
				.address_state{
					font-size: 0.6rem;
					color: #985ec9;
				}
				.address_state1{
					font-size: 0.6rem;
					color: #333;
				}
			}
			.edit_address{
				.editLink,.deleteIcon{
					display: inline-block;
					font-size: 0.6rem;
					color: #333;
					padding-left: 1.3rem;
					height: 0.825rem;
					line-height: 0.825rem;
				}
				.editLink{
					margin-right: 1.25rem;
					background: url(../images/icon_--edit@3x.png) no-repeat;
					background-size: 0.8rem 0.825rem;
				}
				.deleteIcon{
					background: url(../images/icon_delete@3x.png) no-repeat;
					background-size: 0.8rem 0.825rem;
				}
			}
		}
	}
}
.add_newAddress{
	display: block;
	height: 2.45rem;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #985ec9;
	color: #fff;
	font-size: 0.7rem;
	text-align: center;
	line-height: 2.45rem;
	span{
		display: inline-block;
		vertical-align: middle;
		height: 1.1rem;
		width: 1.1rem;
		background: url(../images/icon_fenxiaoshang@3x.png) no-repeat;
		background-size: 100% 100% ;
		margin-right: 0.5rem;
		margin-top: -0.125rem;
	}
}
.empty_address{
	padding-top: 8rem;
	.empty_img{
		height: 5.85rem;
		width: 5.85rem;
		margin:0 auto;
		background: url(../images/img_address@3x.png) no-repeat;
		background-size: 100% 100%;
	}
	.empty_title{
		font-size: 0.7rem;
		color: #999;
		text-align: center;
		margin-top: 0.65rem;
	}
}